/* Main stylesheet for application
    Developed by Alexander Buyanov, chaplin1488@gmail.com
 */
/* line 5, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
body {
  background-image: url("/assets/background-2fff7337b2c2679791fe0ae70b4499126aab2ae8e9f7a67dbd6c964e03d2c5d8.jpg");
  background-size: 1500px;
  font-weight: bold;
  color: white;
}

/* line 11, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
#left {
  float: left;
  border-right: 2px solid white;
}

/*
    USER_FORM
 */
/* line 18, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
h2.info {
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
  /*
      Need to put smth here...
                                 */
}

/* line 26, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.form {
  text-align: center;
  margin-bottom: 30px;
}

/* line 30, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.field {
  padding-bottom: 20px;
  text-align: center;
}

/* line 34, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.field input {
  height: 20px;
  font-size: 14pt;
  border-width: 0px;
  padding: 10px;
}

/* line 40, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.field textarea {
  margin-top: 10px;
  height: 150px;
  width: 320px;
  border: 0px;
  border-radius: 5px;
}

/* line 48, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.field select {
  height: 30px;
  width: 250px;
  border: 0px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}

/* line 56, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.field p, p a {
  color: white;
  font-weight: bold;
  font-size: 15pt;
}

/* line 61, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.input-button {
  padding-top: 20px;
}

/* line 64, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.input-button input {
  height: 30px;
  width: 145px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border-width: 0px;
  font-weight: bold;
}

/* line 73, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.input-button a {
  padding: 5px;
  padding-right: 42px;
  padding-left: 42px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border-width: 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

/* line 85, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.input-button :hover {
  border-width: 2px;
  border-color: #87CEFA;
}

/* line 89, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
span.edit-pass-btn input {
  height: 41px;
  width: 45px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border-width: 0px;
  font-weight: bold;
}

/*
    HEADER
 */
/* line 102, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
header {
  background-color: transparent;
  width: 100%;
  height: 40px;
}

/* line 107, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.logo {
  float: left;
  margin-left: 15%;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
/* line 116, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.logo a {
  color: white;
  text-decoration: none;
}

/* line 121, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
hr {
  width: 80%;
  border-color: white;
  margin-bottom: 30px;
}

/* line 126, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.login-info {
  float: right;
  margin-right: 15%;
  background: transparent;
  margin-top: 15px;
}

/* line 132, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
span.logout {
  font-size: 16pt;
  font-weight: bold;
  color: white;
}
/* line 136, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
span.logout a {
  color: white;
  text-decoration: none;
  font-size: 16pt;
  font-weight: bold;
}

/* line 143, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
span.logout :hover {
  color: black;
}

/* line 146, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
span.version {
  color: white;
  font-weight: bold;
  font-size: 8pt;
  letter-spacing: 0px;
}

/*
  FOOTER
 */
/* line 156, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
}

/* line 161, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
p.info-text {
  color: white;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

/* line 167, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.problem-button input {
  border-width: 0px;
  border-radius: 5px;
  height: 35px;
  width: 230px;
  background-color: white;
  padding: 5px;
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
  font-size: 12pt;
}

/* line 179, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.problem-button :hover {
  border-width: 2px;
  border-color: #87CEFA;
}

/* line 183, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.rights {
  font-size: 12pt;
  font-weight: bold;
  color: white;
}
/* line 187, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.rights a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
/* line 192, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.rights a:hover {
  color: black;
}

/*
  USER-MENU
 */
/* line 200, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.user-menu {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  background-color: transparent;
}
/* line 206, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.user-menu table {
  margin-left: 30%;
  border-width: 0px;
  background-color: transparent;
}
/* line 210, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.user-menu table td {
  padding: 20px;
}

/* line 215, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
td.vert-line {
  border-right: 2px solid white;
}

/* line 218, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
div.instruction {
  text-align: justify;
  font-size: 14pt;
  color: white;
  background-color: transparent;
  font-weight: bold;
  width: 450px;
}

/*
  FLASH MESSAGES
 */
/* line 231, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
  TABLE OF REQUESTS
 */
/* line 246, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
table.request-table {
  width: 90%;
  margin-left: 5%;
  font-size: 14pt;
  margin-bottom: 30px;
}
/* line 251, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
table.request-table td, table.request-table th {
  border-right: 2px solid white;
  text-align: center;
  padding: 2px;
}
/* line 256, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
table.request-table th {
  border-bottom: 2px solid white;
}

/* line 260, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
tr.admin {
  background-color: black;
}

/*
  PAGINATION
 */
/* line 268, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-bottom: 15px;
}

/* line 274, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
}

/* line 276, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .disabled {
  color: white;
}

/* line 278, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: white;
}

/* line 282, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination a {
  border: 1px solid #dddddd;
  color: white;
  text-decoration: none;
}

/* line 286, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

/* line 290, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

/* line 293, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .previous_page, .pagination .next_page {
  border-width: 2px;
}

/* line 295, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .previous_page {
  margin-right: 1em;
}

/* line 297, /home/makintosh/Desktop/Programming/Reports_App/Reports_App/app/assets/stylesheets/main.css.scss */
.pagination .next_page {
  margin-left: 1em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

