<div class="user-menu">
  <table>
    <tr>
      <td class="vert-line">
        <!-- put smth here (ex: button for pull request) -->
        <div class="problem-button">
          <input type="button" value="Отправить заявку" onclick="location.href=''">
        </div>
      </td>
      <td>
        <!-- and here may be some instructions for pulling request for stupid users -->
        <h2 class="info">Инструкция для тупых аутистов:</h2>
        <div class="instruction">
          Здесь должна быть примитивная инструкция, но я ее пока что не придумал :(
        </div>
      </td>
    </tr>
  </table>
</div>