/* Main stylesheet for application
    Developed by Alexander Buyanov, chaplin1488@gmail.com
 */
body{
    background-image: url("background.jpg");
    background-size: 1500px;
    font-weight: bold;
    color: white;
}
#left{
  float: left;
  border-right: 2px solid white;
}
/*
    USER_FORM
 */
h2.info{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    /*
        Need to put smth here...
                                   */
}
div.form{
    text-align: center;
    margin-bottom: 30px;
}
div.field{
    padding-bottom: 20px;
}
div.field input{
    height: 20px;
    font-size: 14pt;
    border-width: 0px;
    padding: 10px;
}
div.field textarea{
  margin-top: 10px;
  height: 150px;
  width: 320px;
  border: 0px;
  border-radius: 5px;

}
div.field select{
  height: 30px;
  width: 250px;
  border: 0px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}
div.input-button{
    padding-top: 20px;
}
div.input-button input{
    height: 30px;
    width: 145px;
    border-radius: 5px;
    color: black;
    background-color: white;
    border-width: 0px;
    font-weight: bold;
}
div.input-button a{
  padding: 5px;
  padding-right: 42px;
  padding-left: 42px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border-width: 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}
div.input-button :hover{
    border-width: 2px;
    border-color: #87CEFA;
}
span.edit-pass-btn input{
  height: 41px;
  width: 45px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border-width: 0px;
  font-weight: bold;
}

/*
    HEADER
 */
header{
  background-color: transparent;
  width: 100%;
  height: 40px;
}
div.logo{
    float: left;
    margin-left: 15%;
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    a{
        color: white;
        text-decoration: none;
    }
}
hr{
  width: 80%;
  border-color: white;
  margin-bottom: 30px;
}
div.login-info{
  float: right;
  margin-right: 15%;
  background: transparent;
  margin-top: 15px;
}
span.logout{
  font-size: 16pt;
  font-weight: bold;
  color: white;
  a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
    font-weight: bold;
  }
}
span.logout :hover{
  color: black;
}
span.version{
  color: white;
  font-weight: bold;
  font-size: 8pt;
  letter-spacing: 0px;
}

/*
  FOOTER
 */
footer{
  width: 100%;
  height: 100px;
  text-align: center;
}
p.info-text{
  color: white;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}
div.problem-button input{
  border-width: 0px;
  border-radius: 5px;
  height: 35px;
  width: 230px;
  background-color: white;
  padding: 5px;
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
  font-size: 12pt;
}
div.problem-button :hover{
  border-width: 2px;
  border-color: #87CEFA;
}
div.rights{
  font-size: 12pt;
  font-weight: bold;
  color: white;
  a{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
}

/*
  USER-MENU
 */
div.user-menu{
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  background-color: transparent;
  table{
    margin-left: 30%;
    border-width: 0px;
    background-color: transparent;
    td{
      padding: 20px;
    }
  }
}
td.vert-line{
  border-right: 2px solid white;
}
div.instruction{
  text-align: justify;
  font-size: 14pt;
  color: white;
  background-color: transparent;
  font-weight: bold;
  width: 450px;
}

/*
  FLASH MESSAGES
 */

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
  width: 300px;
  margin-left: 38%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
  TABLE OF REQUESTS
 */

table.request-table{
  width: 90%;
  margin-left: 5%;
  font-size: 14pt;
  margin-bottom: 30px;
  td, th{
    border-right: 2px solid white;
    text-align: center;
    padding: 2px;
  }
  th{
    border-bottom: 2px solid white;
  }
}
tr.admin{
  background-color: black;
}

/*
  PAGINATION
 */

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  margin-bottom: 15px;
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em; }
.pagination .disabled {
  color: white; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  color: white; }
.pagination a {
  border: 1px solid #dddddd;
  color: white;
  text-decoration: none; }
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white; }
.pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.pagination .previous_page, .pagination .next_page {
  border-width: 2px; }
.pagination .previous_page {
  margin-right: 1em; }
.pagination .next_page {
  margin-left: 1em; }