<footer>
  <hr/>
  <p class="info-text">
    Проблемы с приложением?
  </p>
  <div class="problem-button">
    <input type="button" value="Напишите администратору!" onclick="location.href='mailto:chaplin1488@gmail.com'">
  </div>
  <div class="rights">
    Developed by Alexander Buyanov, <%= link_to 'chaplin1488@gmail.com', 'mailto:chaplin1488@gmail.com' %> <br/>
    (c) All rights reserved 2017
  </div>
</footer>