<header>
  <div class="logo">
    <%= link_to 'Reports_App', root_path %>
  </div>
  <div class="login-info">
    <% if user_signed_in? %>
        <span class="logout">
          <% if current_user.email == "chaplin1488@gmail.com" %>
            Hello, my master! |
          <% else %>
            <%= current_user.email %> |
          <% end %>
        </span>
        <span class="logout"><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></span>
    <% end %>
  </div>
</header>
<hr/>